<!DOCTYPE html>

    <html lang="en">
        <head>
          <title>Miscelanea</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
         <style>
             body{
                 background-image:url('https://www.mexicanbusinessweb.mx/wp-content/uploads/2014/08/ventas-mayoreo-menudeo.jpg');
                 Color: black;
                 background-size: 100%;
                 background-attachement: fixed;
                 
             }
         </style>
        </head>
        <body>

<div class="navbar navbar-default navbar-static-top" role="navigation"></div> 
 <div class="container">
     <div class="navbar-header">
        <a class="navbar-brand" href="/">Miscelanea Ramiréz</a>
    
     <ul class="nav navbar-nav navbar-right">
         <% if (currentZombie){%>
        <li>
            <a href="/edit">
            Hola, <%= currentZombie.name()%>
            </a>
        </li>
        <li>
            <a href="/logout">Salir</a>
        </li>
        <li>
            <a href="armas">Productos Disponibles</a>
        </li>
        <li>
            <a href="add">Agregar Productos</a>
        </li>
            <li>
           
        </li>

       <%}else{%>
    <li>
        <a href="/login">Entrar</a>
    </li>
    <li>
        <a href="/singup">Registrar</a>
    </li>
 
    <%}%>
     </ul>
 </div> 
</div>
<div class="container">
    <% errors.forEach(function(error){%>
        <div class="alert alert-danger" role="alert">
            <%= error%>
        </div>
        <%})%>
      <% infos.forEach(function(info){%>
        <div class="alert alert-danger" role="alert">
            <%= info%>
        </div>
      <%})%> 